@import "./variables.scss";

* {
    margin: 0;
}

body {
    width: 100%;
    font-family: $popins;
    color: $dark;
    background-color: $bg;
}

@media (max-height: 42em) {
    html {
        font-size: 12px;
    }
}
