@import "../../../../styles/variables.scss";

$contentMargin: 2rem;
$contentGap: 1rem;
$actionsSize: 1.5rem;

.content {
    margin-bottom: $contentMargin;

    display: flex;
    flex-direction: column;
    gap: $contentGap;

    transition: 0.3s ease all;

    &__author {
        font-weight: lighter;
    }

    &__actions {
        display: flex;
        align-items: center;
        &__like {
            display: flex;
            align-items: center;
            color: $primaryDark;
            font-size: $actionsSize;
        }
    }

    &:hover {
        color: $primaryDark
    }
}
