@import "../../../../styles/variables.scss";

$contentMargin: 1rem;
$contentGap: 1rem;
$actionsSize: 1.5rem;
$tagsGap: 1rem;

.content {
    margin-bottom: $contentMargin;

    display: flex;
    flex-direction: column;
    gap: $contentGap;

    transition: 0.3s ease all;

    &__body {
        &__author {
            transition: 0.3s ease all;
            font-weight: lighter;
        }

        &__title {
            transition: 0.3s ease all;
        }

        &:hover {
            color: $primary;
        }
    }

    &__tags {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;

        &__toggle {
            font-size: 0.8rem;
            transition: 0.3s ease all;

            display: flex;
            align-items: center;

            &:hover {
                color: $primary;
            }
        }

        ul {
            display: flex;
            padding: 0;

            list-style-type: none;
            gap: $tagsGap;
        }
        &__item {
            font-size: 0.8rem;
            color: $primaryFontColor;
            background-color: $primary;
            padding: 0.2rem 1rem;
            border-radius: $borderRadius;
        }
    }
}

.actions {
    display: flex;
    align-items: center;
    &__like {
        display: flex;
        align-items: center;
        color: $primaryDark;
        font-size: $actionsSize;
    }
}
